@font-face{

 	font-family:BuDtendEr.ttf ;
 	src:url("styles/fonts/BuDtendEr.ttf");

}
/*@font-face{*/
	/*font-family:neuropol.ttf;*/
	/*src:url("styles/fonts/neuropol.ttf");*/
body{
	 background-color:

}
.container{
	margin-bottom: 175px;
	margin-left: 54px;
	margin-top:31px;
}
.first{
	position: relative;
	top: 72px;
	right: -216px;
	margin-right: -858px;
	margin-top: 50px;
	margin-left: 50px;
}
.header{
	position: relative;
	top: 91px;
	right: -255px;
	/*margin-top: 79px;*/
	margin-left: 198px;
}
.about{

	position: relative;
	top: -149px;
	right: 43px;
	margin-right: 227px;
	margin-top: 79px;
	margin-left: 295px;
}
.WOULD{
	padding-top: 76px;
	position: relative;
	top :-57px;
	right: -28px;
	z-index: :100;
	margin-top: -175px;
	margin-right: -174px;
	margin-left: 111px;
}
.Myface{

	position: relative;
	top : -250px;
	right : -661px;
	margin-top: -183px;
	margin-right: -50px;
	margin-left: 111px;
}
.Essentials{

	padding-top: 75px;
	position: relative;
	top :-57px;
	right: -255px;
	z-index: :100;
	margin-top: -376px;
	margin-right: 352px;
	margin-left: 111px;
	width: 63%;

}
