@font-face{

 	font-family:BuDtendEr.ttf ;
 	src:url("styles/fonts/BuDtendEr.ttf");

}
/*@font-face{*/
	/*font-family:neuropol.ttf;*/
	/*src:url("styles/fonts/neuropol.ttf");*/
body{
	

}
.container{
	margin-bottom: 175px;
	margin-left: 54px;
	margin-top:31px;
}
.first{
	position: relative;
	top: 72px;
	right: -194px;
	margin-right: -858px;
	margin-top: 50px;
	margin-left: 50px;
}
.header{
	position: relative;
	top: 91px;
	right: -243px;
	/*margin-top: 79px;*/
	margin-left: 198px;
}
.about{

	position: relative;
	top: -149px;
	right: 74px;
	margin-right: 211px;
	margin-top: 79px;
	margin-left: 295px;
}
.WOULD{
	padding-top: 76px;
	position: relative;
	top :-57px;
	right: -207px;
	z-index: :100;
	margin-top: -166px;
	margin-right: 365px;
	margin-left: 111px;
}
.Myface{

	position: relative;
	top : -195px;
	right : -565px;
	margin-top: -183px;
	margin-right: -50px;
	margin-left: 111px;
}
.Essentials{

	padding-top: 76px;
	position: relative;
	width: -50px;
	top :228px;
	right: -244px;
	z-index: :100;
	margin-top: -376px;
	margin-right: 417px;
	margin-left: 111px;
}
.col1{

	font-size: 12px;
	line-height: 18px;
	width: 250px;
	padding: 20px 40px 20px 0px;
	float: left;
	margin-left: 271px;
	clear: both;
}
.col2{
	font-size: 12px;
	line-height: 18px;
	width: 250px;
	padding : 20px 40px 20px 0px;
	float:left;
}
.col3{
	font-size: 12px;
	line-height: 18px;
	width: 250px;
	padding: 20px 0px 20px 0;
	float:left;
}
.Proof{
	 position: relative;
	 top: 302px;
	 right:-249px;
	 width: 655px;
	 margin-right:50px;
	 /*margin-left: */
}
