@font-face	{

 	font-family:BuDtendEr.ttf ;
 	src:url("styles/fonts/BuDtendEr.ttf");

}
/*@font-face{*/
	/*font-family:neuropol.ttf;*/
	/*src:url("styles/fonts/neuropol.ttf");*/
body{
}
h1	{
	font-family: BuDtendEr;
	font-size: 150px;
	margin-top :61px;
	margin-left :139px;
	letter-spacing: 5px;
}
h2	{
	font-family: BuDtendEr;
	font-size: 160px;
	color: orange;
	margin-top: -100px;
	margin-left: 136px;
	margin-right: 30px;
	letter-spacing: 20px;
	line-height: 5px;
	
	
}
h3	{
	font-family: BuDtendEr;
	font-size: 220px;
	letter-spacing: 20px;
	margin-left: 141px;
	margin-top: -150px;

}
h4	{
	font-size: 33px;
	margin-right: 50px;
	margin-left: 143px;
	margin-top: -250px;
	letter-spacing: 18px;

}
.about {

	position: relative;
	top: -149px;
	right: 74px;
	margin-right: 211px;
	margin-top: 62px;
	margin-left: 295px;
}
.WOULD	{
	padding-top: 76px;
	position: relative;
	top :-57px;
	right: -207px;
	z-index: :100;
	margin-top: -166px;
	margin-right: 365px;
	margin-left: 111px;
}
.Myface	{

	position: relative;
	top : -328px;
	right : -700px;
	margin-top: -186px;
	margin-right: 198px;
	margin-left: 111px;
}
.Essentials	{

	padding-top: 76px;
	position: relative;
	width: -50px;
	top :228px;
	right: -244px;
	z-index: :100;
	margin-top: -376px;
	margin-right: 417px;
	margin-left: 111px;
}
.col1	{

	font-size: 12px;
	line-height: 18px;
	width: 250px;
	padding: 20px 40px 20px 0px;
	float: left;
	margin-left: 342px;
	clear: both;
}
.col2	{
	font-size: 12px;
	line-height: 18px;
	width: 250px;
	padding : 20px 40px 20px 0px;
	float:left;
}
.col3	{
	font-size: 12px;
	line-height: 18px;
	width: 250px;
	padding: 20px 0px 20px 0;
	float:left;
}
.Proof	{
	 position: relative;
	 top: 302px;
	 right:-249px;
	 width: 655px;
	 margin-right:50px;
	 /*margin-left: */
}
.nav {
	text-align: right;
}
.nav li a {
	text-decoration: none;
	color: white;
	margin: 10px;
}
.nav li {
	list-style: none;
	display: inline;
	color: white;
}
.navbar {
	width: 100%;
	position: fixed;
	background-color: black;
	z-index: 1;		
}
